<%- include ("./static/header") %>
<%- include ("./static/sidebar") %>
<%- include ("./static/navbar") %>

<div class="col-xl-12 jumbotron jumbotron-fluid">
  <div class="container">
    <img src="/img/warning.png" class="rounded mx-auto d-block animate__animated animate__bounceIn" alt="Tristone Flowtech">
    <h1 class="display-4 text-center animate__animated animate__bounceIn" display: inline-block>Acceso Denegado para usuario:</h1><h3 class="text-center text-dark animate__animated animate__bounceIn"><%= user %></h3>
    <hr>
    <br>
    <a href="http://10.56.99.21:9675/portal/portal-login" target="blank">
      <input type="button" class="btn btn-warning btn-lg btn-block animate__animated animate__bounceIn"
        value="Contacte a Soporte"></input>
    </a>

  </div>
</div>
</div>

<%- include ("./static/footer") %>
</div>
</body>

</html>