<%- include ("./static/header")%>
<%- include ("./static/sidebar") %>
<%- include ("./static/navbar")%>


<div class="col-lg-12 frame">

  <div class="row mt-4">
    <div class="col-lg-4"></div>

    <div class="col-lg-4">

      <div class="card">
        <div class="card-header d-none d-md-block"><strong>Datos de Usuario</strong></div>
        <div class="card-body">
          <table class="table table-sm borderless ">
            <tbody>
              <tr>
                <td><small><strong>ID:</strong></small></td>
                <td><small id="user_id"><%= user_id %></small> </td>
              </tr>
              <tr>
                <td><small><strong>Nombre:</strong></small></td>
                <td><small id="user_name"><%= user_name  %></small> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer manu_footer">
          <button type="button" id="btn_logoff" class="btn btn-danger btn-sm btn-block" btn-lg btn-block">Cerrar
            sesion</button>
        </div>
      </div>

    </div>
    <div class="col-lg-4"></div>
  </div>

  <br>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h4 class="text-center animate__animated animate__bounceIn" display: inline-block>Menu Principal:</h4>

      <div id="accordion">

        <div class="card bg-dark">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link btn-block text-left text-white" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1: Movimiento
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="container">
              <button id="btn_aud_1" class="btn btn-outline-light btn-block mt-4 mb-4" data-target="#collapse"
              aria-expanded="true" aria-controls="collapse3">
              1: Salida de Material
            </button>

              <button id="btn_sfe_2" class="btn btn-outline-light btn-block mt-4 mb-4" data-target="#collapse"
                aria-expanded="true" aria-controls="collapse3">
                2: Entrada de Material
              </button>


            </div>
          </div>
        </div>

          <!-- <div class="card bg-dark">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link btn-block text-left text-white collapsed" data-toggle="collapse"
                  data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  2: Conteo Ciclico
                </button>
              </h5>
            </div>
  
            <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="container">
                <button id="btn_cce_1" class="btn btn-outline-info btn-block mt-4 mb-4" data-target="#collapse"
                aria-expanded="true" aria-controls="collapse4">
                1: Conteo VUL
              </button>
  
  
              </div>
            </div>
            </div>

            <div class="card bg-dark">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block text-left text-white collapsed" data-toggle="collapse"
                    data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    3: Auditoria Piso Produccion
                  </button>
                </h5>
              </div>
    
              <div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="container">
                  <button id="btn_aud_1" class="btn btn-outline-info btn-block mt-4 mb-4" data-target="#collapse"
                  aria-expanded="true" aria-controls="collapse5">
                  1: Auditoria
                </button>
    
    
                </div>
              </div>
              </div> -->

      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>




</div>


<%- include ("./static/footer")%>

<script>
  $('.collapse').collapse()
</script>

<script src="/js/functions/main_menu.js"></script>